<button class="btn btn-success" (click)="orderPool()" name="newOrders">New Orders</button>
<br>
<h3 style="text-align: center">Profile Page</h3>
<div>
  <table class="table table-striped container">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Locality</th>
        <th>City</th>
        <th>State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{mobileNo}}</td>
        <td>{{address}}</td>
        <td>{{zip}}</td>
        <td>{{locality}}</td>
        <td>{{city}}</td>
        <td>{{state}}</td>
        <!-- <td><button class="btn btn-warning">Edit</button> </td> -->
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="row container">
  <h3  style="margin: auto; margin-left: 400px; display: block">Your Orders</h3>
  <input [(ngModel)]="orderId" placeholder="Enter order ID"  style="margin: auto; display: block" type="number">
  <button (click)="orderHello()" type="submit" style="margin-right: 200px" class="btn btn-success btn-sm">Mark Completed</button>
</div>
<div style="margin-top: 10px">
  <table class="table table-striped container">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Issue</th>
        <th>Expected Date</th>
        <th>Expected Time</th>
        <th>Address</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Customer Name</th>
        <th>Customer Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order[0]}}</td>
        <td>{{order[1]}}</td>
        <td>{{order[2]}}</td>
        <td>{{order[3]}}</td>
        <td>{{order[4]}},{{order[9]}},{{order[10]}}</td>
        <td>{{order[5]}}</td>
        <td>{{order[6]}}</td>
        <td>{{order[7]}}</td>
        <td>{{order[8]}}</td>
      </tr>
    </tbody>
  </table>
</div>