

<div class="container">
    <div class="col-md-4" style="margin-bottom: 10px">
      <input required type="text" placeholder="User email" class="form-control">
    </div>
    
    <div style="margin-bottom: 10px" class="col-md-4">
        <input required type="text" placeholder="Password" class="form-control">
    </div>
    <div style="margin-bottom: 10px" class="col-md-4">
        <input style="margin-right: 10px" type="button" value="Login" class="btn btn-success">
        <input type="button" value="Cancel" class="btn btn-danger">
    </div>
    <div class="col-md-4">
        <input type="button" value="Sign Up" class="btn btn-warning" >
    </div>
    
</div>