<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-md navbar-dark shadow" style="background-color:black">
  <a class="navbar-brand" href="#">
    <img src="#" width="30" height="28" class="d-inline-block align-top" alt="">
    HomeKhaas
  </a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button (click)="openPopUp(Logincontent)" class="btn btn-success btn-sm" style="margin-left: 10px">Login</button>
      </li>
      <li>
        <button style="margin-left: 10px" class="btn btn-warning btn-sm" (click)="openPopUp(content)">Register</button>
      </li>
    </ul>
  </div>
</nav>

<div>
 <router-outlet></router-outlet>
</div>

<ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="RegisterAs">Register As</h4>
      </div>
      <div class="modal-body">
          <div class="input-group">
            <button style="margin-right: 10px" type="button" (click)="onCustomerSelect()" class="btn btn-outline-dark">Customer</button>
            <button style="margin-left: 10px" type="button" (click)="onFreelancerSelect()" class="btn btn-outline-dark">Professional</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">No thanks</button>
      </div>
</ng-template>

<ng-template #Logincontent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="LoginAs">Login As</h4>
    </div>
    <div class="modal-body">
        <div class="input-group">
          <button style="margin-right: 10px" type="button" (click)="openPopUp(userLoginContent)" class="btn btn-outline-dark">Customer</button>
          <button style="margin-left: 10px" type="button" (click)="openPopUp(freelancerLoginContent)" class="btn btn-outline-dark">Professional</button>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">No thanks</button>
    </div>
</ng-template>

<ng-template #userLoginContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="Login">Login</h4>
    </div>
    <div class="modal-body">
        <div class="input-group">
               <div>
                  <div style="margin-bottom: 10px">
                      <input style="margin-right: 10px" required type="text" placeholder="User email" class="form-control">
                    </div>
                    
                    <div style="margin-bottom: 10px">
                        <input required type="text" placeholder="Password" class="form-control">
                    </div>
                    <div style="margin-bottom: 10px">
                        <input style="margin-right: 10px" type="button" value="Login" class="btn btn-success">
                        <input style="margin-right: 10px" type="button" (click)='closeAll()' value="Cancel" class="btn btn-danger">
                    </div>
                    <div >
                        <input type="button" value="Sign Up" class="btn btn-warning" >
                    </div>
               </div>
        </div>
    </div>
</ng-template>

<ng-template #freelancerLoginContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="Login">Login</h4>
    </div>
    <div class="modal-body container">
        <div class="input-group">
               <div>
                  <div style="margin-bottom: 10px">
                      <input style="margin-right: 10px" required type="text" placeholder="User email" class="form-control">
                    </div>
                    
                    <div style="margin-bottom: 10px">
                        <input required type="text" placeholder="Password" class="form-control">
                    </div>
                    <div style="margin-bottom: 10px">
                        <input style="margin-right: 10px" type="button" value="Login" class="btn btn-success">
                        <input style="margin-right: 10px" type="button" (click)='closeAll()' value="Cancel" class="btn btn-danger">
                    </div>
                    <div >
                        <input type="button" value="Sign Up" class="btn btn-warning" >
                    </div>
               </div>
        </div>
    </div>
</ng-template>




