
<h3>Register</h3>
<div class="container mystyle">
        
    <div class="row" style="margin-bottom: 10px" >
            <div class="col-md-4">
            <input [(ngModel)]="name" required type="text" placeholder="Enter your full name" class="form-control">
            </div>
            
            <div class="col-md-4">
            <textarea [(ngModel)]="address" rows="3" placeholder="Enter your Address" class="form-control"></textarea>
            </div>
            
    </div>
    <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4">
            <input [(ngModel)]="email" required type="text" placeholder="Enter your email" class="form-control">
            </div>
            
            <div class="col-md-4">
            <input [(ngModel)]="mobileNo" required type="tel" placeholder="Enter your mobile number" class="form-control">
            </div>
            
    </div>
    <div class="row" style="margin-bottom: 10px">
            <div class="col-md-2">
            <input [(ngModel)]="zip" (keyup)="onZipInsert($event)" required type="text" placeholder="Enter zip code" class="form-control">
            </div>
            
            <div class="col-md-2">
                <input [(ngModel)]="locality" disabled type="text" placeholder="Locality" class="form-control">
            </div>
            
            <div class="col-md-2">
                <input [(ngModel)]="city" disabled type="text" placeholder="City" class="form-control">
            </div>

            <div class="col-md-2">
                <input [(ngModel)]="state" disabled type="text" placeholder="State" class="form-control">
            </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4">
                <input [(ngModel)]="password" required type="password" placeholder="Enter password" class="form-control">
            </div>
            
            <!-- <div class="col-md-4">
                <input (keyup)="confirmPassword($event)" [(ngModel)]="confPassword" required type="password" placeholder="Confirm password" class="form-control">
            </div> -->
    </div>
    <div>
        <input (click)="onSignup()" type="button" value="Register" class="btn btn-success" >
    </div>
</div>