
<h3>Register</h3>
<div class="container mystyle">
        
    <div class="row" style="margin-bottom: 10px" >
            <div class="col-md-4">
            <input required type="text" placeholder="Enter your full name" class="form-control">
            </div>
            
            <div class="col-md-4">
            <input required type="text" placeholder="Enter your Address" class="form-control">
            </div>
            
    </div>
    <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4">
            <input required type="text" placeholder="Enter your email" class="form-control">
            </div>
            
            <div class="col-md-4">
            <input required type="number" placeholder="Enter your mobile number" class="form-control">
            </div>
            
    </div>
    <div class="row" style="margin-bottom: 10px">
            <div class="col-md-2">
            <input required type="number" placeholder="Enter zip code" class="form-control">
            </div>
            
            <div class="col-md-2">
                <input disabled type="text" placeholder="Locality" class="form-control">
            </div>
            
            <div class="col-md-2">
                <input disabled type="text" placeholder="City" class="form-control">
            </div>

            <div class="col-md-2">
                <input disabled type="text" placeholder="State" class="form-control">
            </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4">
                <input required type="password" placeholder="Enter password" class="form-control">
            </div>
            
            <div class="col-md-4">
                <input required type="password" placeholder="Confirm password" class="form-control">
            </div>
    </div>
    <div>
        <input type="button" value="Register" class="btn btn-success" >
    </div>
</div>